:root {
    --purple: #712be2;
    --white: #ffffff;
    --white2: #f1f1f1;
    --turquoise: #30D5C8;
    --blue: #0084ff;
    --darkblue: #152238;
    --spacer: 1rem;
    --s0: 0;
    --s1: calc(var(--spacer) * 0.25);
    --s2: calc(var(--spacer) * 0.5);
    --s3: var(--spacer);
    --s4: calc(var(--spacer) * 1.5);
    --s5: calc(var(--spacer) * 3);
}

* {
    box-sizing: border-box;
    margin: var(--s0);
    padding: var(--s0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    font-size: var(--s4);
    margin-bottom: 6rem;
}

.navbar__logo {
    margin: var(--s5) var(--s0) var(--s0) 16rem;
    height: 4rem;
    width: 4rem;
}

.navbar__logo {
    cursor: pointer;
}

.navbar__links {
    margin: 4rem 13rem var(--s0) var(--s0);
}

.navbar__links li {
    display: inline-block;
    margin-right: var(--s3);
}

.navbar__button {
    color: var(--purple);
    border: var(--purple) solid 0.175rem;
    border-radius: 32px;
    padding: var(--s2) var(--s3);
}

.navbar__link:hover {
    color: var(--purple);
    cursor: pointer;
}

.navbar__button:hover, .work__button:hover {
    color: var(--white);
    background-color: var(--purple);
    transition: 0.25s;
    cursor: pointer;
}

.header__title {
    text-align: center;
    margin-bottom: var(--s4);
    font-size: var(--s5);
}

.header__caption {
    font-size: var(--s4);
    text-align: center;
}

.header__img {
    display: block;
    margin: 4rem auto var(--s0);
    width: 50%
}

.header__avatar {
    width: 11.5%
}

.intro {
    color: var(--white);
    background-color: var(--purple);
    text-align: center;
    padding: 10rem var(--s0) 18rem var(--s0);
    font-size: var(--s4);
}

.intro__content {
    display: inline-block;
    width: 40%;
    line-height: var(--s4);
    margin-top: var(--s4);
    letter-spacing: 0.075rem;
}

.skills {
    display: flex;
    justify-content: space-between;
    border: var(--white2) solid 2px;
    border-radius: 16px;
    background-color: var(--white);
    height: 50rem;
    width: 72.5%;
    margin: -10rem auto 10rem auto;
}

.skills div {
    width: 33.333%;
    text-align: center;
}

.skills img {
    height: 5rem;
    width: 5rem;
    padding: var(--s1);
    border: var(--turquoise) solid 0.1rem;
    border-radius: 100%;
    background-color: var(--turquoise);
    margin: var(--s5) var(--s0) var(--s4) var(--s0);
}

.skills p {
    font-size: 1.25rem;
    display: inline-block;
    margin: var(--s5) var(--s0);
    width: 80%;
}

.skills__list {
    list-style: none;
    margin-bottom: var(--s5);
}

.skills__line {
    font-size: 1.25rem;
    padding: var(--s1) var(--s0);
}

.skills__title {
    font-size: var(--s4);
}

.frontend {
    border: var(--white2) solid 3px;
    border-style: none solid;
}

.skills__text--purple {
    color: var(--purple);
}

.work {
    text-align: center;
}

.work__caption {
    margin: var(--s4) var(--s0) 6rem var(--s0);
    font-size: var(--s4);
}

.work p a {
    text-decoration: none;
    color: var(--blue);
}

.work__title {
    font-size: var(--s4);
}

.work__container {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 72.5%;
    gap: var(--s5);
}

.work__image {
    width: 20rem;
    height: 13rem;
    border-radius: 16px;
}

.work__button {
    display: block;
    color: var(--purple);
    font-size: 1.25rem;
    width: 15rem;
    margin: 6rem auto 8rem auto;
    border: var(--purple) solid 0.175rem;
    border-radius: 32px;
    padding: var(--s2) var(--s3);
}

footer {
    background-color: var(--purple);
    text-align: center;
    color: var(--white2);
}

.footer__logo {
    width: var(--s5);
    margin: var(--s4);
}

.footer__logo:hover {
    cursor: pointer;
}

.footer__text {
    font-size: var(--s4);
    width: 20%;
    margin: 0 auto;
    opacity: 0.75;

}

.socials {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: var(--s4) auto;
}

.socials__icon {
    width: var(--s5);
    cursor: pointer;
}

.footer__copyright {
    font-size: var(--s3);
    opacity: 0.75;
    padding-bottom: var(--s4);
}
